<section class="container">
    <div class="social text-center">
        Find Me On <br />
        <a href="https://twitter.com/OverlySunny" title="Twitter" target="_new"><i class="fa fa-twitter-square fa-2x"></i></a> 
        <a href="https://www.linkedin.com/profile/view?id=276751880" title="LinkedIn" target="_new"><i class="fa fa-linkedin-square fa-2x"></i></a> 
        <a href="https://github.com/jonathonharrell" title="Github" target="_new"><i class="fa fa-github-square fa-2x"></i></a> 
        <a href="https://bitbucket.org/jonathonharrell/" title="BitBucket" target="_new"><i class="fa fa-bitbucket-square fa-2x"></i></a>
    </div>
    <div class="copyright text-center text-muted">Copyright &copy; Jonathon Harrell 2014</div>
</section>