<section class="container">
    <div class="social text-center">
        Find Me On <br />
        <a href="#" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a> 
        <a href="#" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a> 
        <a href="#" title="Github"><i class="fa fa-github-square fa-2x"></i></a> 
        <a href="#" title="BitBucket"><i class="fa fa-bitbucket-square fa-2x"></i></a>
    </div>
    <div class="copyright text-center text-muted">Copyright &copy; Jonathon Harrell 2014</div>
</section>