.content {
  margin-top: 50px;
}
a.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.navbar-brand {
  line-height:16px;
  padding-top:10px;
  padding-bottom:5px;
}

.navbar-brand small {
  display:block;
  font-size:10px;
  text-align: center
}