.content {
  margin-top: 50px;
}
a.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

html, body {
  height: 100%;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#wrap {
  min-height: 100%;
}

.spacer {
  min-height: 150px;
  content: " ";
}

.small-spacer {
  min-height: 50px;
  content: " ";
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.left-showcase-image {
  font-size: 12em;
}

.earth-blue {
  color: #547ba2;
}

.large-text {
  font-size: 18px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

body {
  font-family: 'Signika', Helvetica, Arial, sans-serif;
}

.colors-to-remember {
  color: #547ba2;
  color: #A27027;
  color: #FAC578;
}

.social i {
  margin: 0 4px;
}

.navbar-brand {
  line-height:16px;
  padding-top:12px;
  font-size: 22px;
  padding-bottom:5px;
  font-weight: 700;
  background: url('/img/logo.png') no-repeat left center;
  padding-left: 36px;
  margin-left: 5px;
}

.navbar-brand small {
  font-size:11px;
  font-weight: 400;
  display: block;
  padding-left: 3px;
}

.spinner {
    text-align: center;
    margin: auto;
}

.sc-image .img-responsive {
  margin: 0 auto;
}

.blog-post.ng-enter, .blog-post.ng-move,
.spinner.ng-enter, .spinner.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}
 
/* Animations */
.blog-post.ng-enter.ng-enter-active,
.blog-post.ng-move.ng-move-active, 
.spinner.ng-enter-active,
.spinner.ng-move-active {
  opacity:1;
}

.blog-post.ng-leave, .spinner.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}
 
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
 
@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.flip-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}